body {
  background-color: #f4eeff;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -200;
}

p {
  font-family: "Didot", serif;
}
h1 {
  font-family: "Copperplate", sans-serif;
}

.top {
  Position: absolute;
  Top: 100px;
  width: 90%;
  background-color: rgba(255,255,255,0.25);
  color: #260f26;
  margin: auto;
}
