body {
  background-color: #f4eeff;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -200;
}

p {
  font-family: "Didot", serif;
}
h1 {
  font-family: "Copperplate", sans-serif;
}

.top {
  Top: 300px;
  max-width: 95%;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.65);
  color: #260f26;
  margin: 0 auto;
}
